<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://drbaheegbook.runasp.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceUrl>https://site79455.siteasp.net:8172/MsDeploy.axd</MSDeployServiceUrl>
    <DeployIisAppPath>site79455</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>false</EnableMSDeployBackup>
    <UserName>site79455</UserName>
    <!-- Password passed via -p:Password on command line or DEPLOY_PASSWORD env var -->
    <AllowUntrustedCertificate>true</AllowUntrustedCertificate>
    <EnvironmentName>Production</EnvironmentName>
  </PropertyGroup>
</Project>
